<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Dashboard</title>
</head>

<body class="container bg-light">
    <div class="row pt-5 pb-3">
        <div class="text-center">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row justify-content-center pt-4 pb-4">
        <div class="col-lg-2 col-sm-2 mx-3">
            <label class="fw-bold text-dark">Prediction Date [Fixed]: </label>
            <p class="form-control mt-2" style="background-color: rgb(230, 230, 230);">27th March 2026</p>
        </div>
        <div class="col-lg-2 col-sm-2 mx-3">
            <label class="fw-bold text-dark">Company List: </label>
            <select id="stockSelect" disabled class="form-control mt-2">
                <option value="">Select Stock</option>
                <option>RELIANCE.NS</option>
                <option>TCS.NS</option>
                <option>HDFCBANK.NS</option>
                <option>INFY.NS</option>
                <option>ICICIBANK.NS</option>
                <option>LT.NS</option>
                <option>ITC.NS</option>
                <option>HINDUNILVR.NS</option>
                <option>KOTAKBANK.NS</option>
                <option>SBIN.NS</option>
                <option>BHARTIARTL.NS</option>
                <option>ASIANPAINT.NS</option>
                <option>MARUTI.NS</option>
                <option>M&M.NS</option>
                <option>SUNPHARMA.NS</option>
                <option>DRREDDY.NS</option>
                <option>CIPLA.NS</option>
                <option>DIVISLAB.NS</option>
                <option>AUROPHARMA.NS</option>
                <option>JSWSTEEL.NS</option>
                <option>TATASTEEL.NS</option>
                <option>HINDALCO.NS</option>
                <option>VEDL.NS</option>
                <option>NMDC.NS</option>
                <option>WIPRO.NS</option>
                <option>HCLTECH.NS</option>
                <option>LTIM.NS</option>
                <option>BAJAJ-AUTO.NS</option>
                <option>HEROMOTOCO.NS</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="card m-2" style="width: 20rem; height: 15rem">
            <div class="card-body">
                <h5 class="card-title">Volatility Percentage Predicted</h5>
                <p class="card-text">The forecasted magnitude of price fluctuations for this asset over a specific
                    timeframe.</p>
                <p class="border rounded border-dark m-2 p-2 text-center" id="volatility">Loading...</p>
            </div>
        </div>
        <div class="card m-2" style="width: 20rem; height: 15rem">
            <div class="card-body">
                <h5 class="card-title">Risk Volatility Class Predicted</h5>
                <p class="card-text">The categorical ranking assigned to the asset based on its forecasted stability.
                </p>
                <p class="border rounded border-dark m-2 p-2 text-center" id="riskClass">Loading...</p>
            </div>
        </div>
        <div class="card m-2" style="width: 20rem; height: 15rem">
            <div class="card-body">
                <h5 class="card-title">Risk Volatility Cluster Grouping</h5>
                <p class="card-text">A statistical grouping of assets that exhibit similar price-movement behaviors.</p>
                <p class="border rounded border-dark m-2 p-2 text-center" id="cluster">Loading...</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="card m-2" style="width: 25rem;height:15rem">
            <div class="card-body">
                <h6 class="pt-2" id="same-index">Compare Volatility Within Same Index</h6>
                <h6 class="pt-2" id="same-sector">Compare Volatility Risk Within Same Sector</h6>
                <h6 class="pt-2" id="same-cluster">Show More Stocks Within Same Cluster</h6>
            </div>
        </div>
        <div class="card m-2" style="width: 25rem;height:15rem">
            <div class="card-body" id="CompareData">
            </div>
        </div>
        <div class="card m-2" style="width: 25rem; height: 15rem">
            <div class="card-body">
                <h5 class="card-title">Stock Sentiment Analysis</h5>
                <p class="card-text">Get real-time sentiment insights based on the latest stock news.</p>
                <br>
                <p class="border rounded border-dark m-2 p-2 text-center" id="sentiment">Loading...</p>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-3">
        <div class="text-center">
            <h2>Version Information</h2>
        </div>
    </div>
    <div class="row justify-content-center border border-secondary rounded p-3 mb-3 bg-white">
        {% for package, version in version_data.items() %}
        <div class="col-lg-2 text-center">
            <p><b>{{ package }}:</b> {{ version }}</p>
        </div>
        {% endfor %}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script>
    let volatilityapiData = [];
    let RiskvolatilityapiData = [];
    let RiskvolatilityClusterapiData = [];

    document.addEventListener("DOMContentLoaded", async function () {
        try {
            const [volRes, riskRes, clusterRes] = await Promise.all([
                fetch('/api/volatility'),
                fetch('/api/risk_volatility'),
                fetch('/api/risk_volatility_cluster')
            ]);

            volatilityapiData = await volRes.json();
            RiskvolatilityapiData = await riskRes.json();
            RiskvolatilityClusterapiData = await clusterRes.json();

            console.log("All data loaded");
            document.getElementById('stockSelect').disabled = false;
        } catch (err) {
            console.error(err);
        }

        // Listen to dropdown change
        document.getElementById('stockSelect').addEventListener('change', function () {
            const selectedStock = this.value;

            const stock = selectedStock.replace(".NS", "").toLowerCase();

            document.getElementById('sentiment').textContent = "Loading...";

            fetch('/api/sentiment_analysis_route/' + stock)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('sentiment').textContent = data.news_sentiment;
                })
                .catch(error => {
                    console.error(error);
                    document.getElementById('sentiment').textContent = "No Content Found";
                });

            document.getElementById('CompareData').innerHTML = "";

            if (!selectedStock) {
                document.getElementById('volatility').innerText = "Please select a stock";
                document.getElementById('riskClass').innerText = "-";
                document.getElementById('cluster').innerText = "-";
                return;
            }

            // Find matching company
            const result = volatilityapiData.find(item => item.Company === selectedStock);

            if (result) {
                document.getElementById('volatility').innerText =
                    result.predicted_volatility.toFixed(2) + " %";
            } else {
                document.getElementById('volatility').innerText = "No data found";
            }

            const result2 = RiskvolatilityapiData.find(item => item.Company === selectedStock);

            if (result2) {
                document.getElementById('riskClass').innerText =
                    result2.predicted_volatility;
            } else {
                document.getElementById('riskClass').innerText = "No data found";
            }

            const result3 = RiskvolatilityClusterapiData.find(item => item.Company === selectedStock);

            if (result3) {
                document.getElementById('cluster').innerText =
                    result3.cluster;
            } else {
                document.getElementById('cluster').innerText = "No data found";
            }
        });

        document.getElementById('same-index').addEventListener('click', function () {
            const stockValue = document.getElementById('stockSelect').value;
            if (stockValue) {
                const selectedStockObj = volatilityapiData.find(item => item.Company === stockValue);
                if (!selectedStockObj) {
                    alert("Stock not found");
                    return;
                }

                const broadIndex = selectedStockObj.broad_Index;

                const compareData = volatilityapiData.filter(item => item.broad_Index === broadIndex);

                let html = "<p><strong>Below are the Company Predicted Volatility With Same Broad Index:</strong></p>";

                compareData.forEach(element => {
                    html += `
                                <div>
                                    ${element.Company} - ${element.predicted_volatility.toFixed(2)} %
                                </div>
                            `;
                });

                document.getElementById('CompareData').innerHTML = html;
            } else {
                document.getElementById('CompareData').innerHTML = `<div>Please select a stock </div>`;
            }
        });

        document.getElementById('same-sector').addEventListener('click', function () {
            const stockValue = document.getElementById('stockSelect').value;
            if (stockValue) {
                const selectedStockObj = RiskvolatilityapiData.find(item => item.Company === stockValue);
                if (!selectedStockObj) {
                    alert("Stock not found");
                    return;
                }

                const sectorIndex = selectedStockObj.sector_Index;

                const compareData = RiskvolatilityapiData.filter(item => item.sector_Index === sectorIndex);

                let html = "<p><strong>Below are the Company Predicted Risk Volatility Class With Same Sector Index:</strong></p>";

                compareData.forEach(element => {
                    html += `
                                <div>
                                    ${element.Company} - ${element.predicted_volatility}
                                </div>
                            `;
                });

                document.getElementById('CompareData').innerHTML = html;
            } else {
                document.getElementById('CompareData').innerHTML = `<div>Please select a stock </div>`;
            }
        });

        document.getElementById('same-cluster').addEventListener('click', function () {
            const stockValue = document.getElementById('stockSelect').value;
            if (stockValue) {
                const selectedStockObj = RiskvolatilityClusterapiData.find(item => item.Company === stockValue);
                if (!selectedStockObj) {
                    alert("Stock not found");
                    return;
                }

                const clusterIndex = selectedStockObj.cluster;

                const compareData = RiskvolatilityClusterapiData.filter(item => item.cluster === clusterIndex);

                let html = "<p><strong>Below are the Company Grouping Within Same Cluster:</strong></p>";

                compareData.forEach(element => {
                    html += `
                                <div>
                                    ${element.Company} - ${element.cluster}
                                </div>
                            `;
                });

                document.getElementById('CompareData').innerHTML = html;
            } else {
                document.getElementById('CompareData').innerHTML = `<div>Please select a stock </div>`;
            }
        });
    });
</script>

</html>